{% extends "index.html" %}
{% block title %}
Home - Ecommerce Websites
{% endblock %}
{% block head %}
<!--<script url_for="./javahello.js" ></script>-->

<!---- // window.console.log("Hello World Robert");--->
{% endblock %}
{% block heading %}
Ecommerce Websites
{% endblock %}
{% block body %}
<!--
<script>
    var typedi = document.getElementById("userInput").value;

    function displa(){
        return document.getElementById("useroutput").innerHTML = "My name is " + typedi;
        console.log(typedi)
    }
        
</script>
-->
<p id="home">
    <select>
        <option value="Management" selected disabled >HOME</option>
        <option value="Ethics">Ethics</option>
        <option value="Python">Python</option>
        <option value="Tutorials">Tutorials</option>
    </select>
    <select>
        <option value="Management" selected disabled >ABOUT</option>
        <option value="Ethics">Ethics</option>
        <option value="Python">Python</option>
        <option value="Tutorials">Tutorials</option>
    </select>
</p>
<p id="useroutput"></p>

<input type="button" value="delete" onclick="removeInnerHtml()" /> 
<input type="button" value="add" onclick="aDd()"><br>

Name: <input id="userInput" type="text" placeholder="Whats your name" />

<input type="button" value="display" onclick="displa()" />

<!--button for bython-->
<form action="/successful" method="post" >
    <input id="py" type="text" name="dispy">
    <input type="submit" value="python" onclick="fromPythonArea()" >
</form>

<p id="FromOutside"> </p>

<form action="/get" method="GET">
<input id="btn" type="submit" value="View Image" onclick="GetImage()">
</form>
<form action="/read" method="GET">
    {% for i in data %}:
        {{i}}
        <br/>
    {% endfor %}
    <input type="submit" value="read" onclick="reAd()" >
</form>
<!--Deleting from displayed List-->
<!--<form action="/remove" method="POST"></form>-->
<input type="text" placeholder="remove username" id="deletUserName">
<input type="button" value="delete" onclick="deleteFromList()">

<p id="readFrom"></p>


<script>
// Delete from the list
function deleteFromList(){
    let remv = document.getElementById("deletUserName").value;
    document.getElementById("FromOutside").remove(remv);
}

function reAd(){
    document.getElementById("FromOutside").innerHTML = data;

}


// python get
function GetImage(){
    const data = document.getElementById("btn")
    document.getElementById("FromOutside").innerHTML = data;
}

// Function to display to useroutput
function displa(){
    var typed;
    typed = document.getElementById("userInput").value;
    return document.getElementById("useroutput").innerHTML = "My name is " + typed;
    
    console.log(typed);
}
function removeInnerHtml(){
//    return document.getElementById("useroutput").remove();
    return document.getElementById("useroutput").innerHTML = "";
}
function aDd(){
    let fromUser = document.getElementById("userInput").value;
    return document.getElementById("useroutput").append("\n My name is" + fromUser); //document.getElementById("userInput").value)
}

// js function to act on python txt area
function fromPythonArea(){
    const success = document.getElementById("py").value;
    // js time delay
    document.getElementById("useroutput").innerHTML = "submitting your inputs:...'"+success+"..'";
    /* document.getElementById("useroutput").innerHTML = "Your inputs: '"+success+ "', are getting submitted..."
    return document.getElementById("useroutput").innerHTML = "submitted successfully!!"
        */
    setTimeout(function(){
        document.getElementById("useroutput").innerHTML = "submitted successfully!!"
    },3000)

}
</script>


{% endblock %}
