<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!----   <script src="{{url_for('static', filename='javaScript.js')}}"></script>-->
    {% block title %}
    {% endblock %}
    {% block head %}
    {% endblock %}
    <title>Ecommerce Webs</title>
</head>
<body>
{% block heading %}
{% endblock %}
{% block body %}
{% endblock %}
<script src="{{url_for('static', filename='javaScript.js')}}"></script>  
</body>
</html>